@import com.cobble.bot.common.ref.MtrConfigRef
@import org.webjars.play.WebJarsUtil
@import sx.blah.discord.handle.obj.IGuild
@import com.cobble.bot.common.api.BitTrackingMode
@import com.cobble.bot.common.models.bitTrackingFormData.BitTrackingFormData
@import com.cobble.bot.common.util.BitTrackingUtil
@(guild: IGuild, bitTrackingForm: Form[BitTrackingFormData], bitTrackingUtil: BitTrackingUtil)(implicit webJarsUtil: WebJarsUtil, messagesProv: MessagesProvider, flash: Flash, mtrConfigRef: MtrConfigRef, request: MessagesRequest[AnyContent])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@renderRBGShotType(shotType: String) = {
    @b3.number(bitTrackingForm(s"rbg.${shotType}ShotAmount"),
        '_label -> messagesProv.messages("dashboard.forms.bitTracking.rbg.shotAmount", messagesProv.messages(s"dashboard.forms.bitTracking.rbg.shotTypes.$shotType"))
    )(implicitFieldConstructor, messagesProv)
    @b3.number(bitTrackingForm(s"rbg.${shotType}ShotCount"),
        '_label -> messagesProv.messages("dashboard.forms.bitTracking.rbg.shotCount", messagesProv.messages(s"dashboard.forms.bitTracking.rbg.shotTypes.$shotType"))
    )(implicitFieldConstructor, messagesProv)
}

@dashboardPage(guild, "bitTracking"){

} {
    @b3.form(routes.Dashboard.submitBitTracking()) {
        @helper.CSRF.formField
        @b3.select(bitTrackingForm("currentMode"),
            options = BitTrackingMode.map.toSeq.sortBy(_._1),
            '_label -> "dashboard.forms.bitTracking.currentMode.label"
        )
        <fieldset>
            <legend>@messagesProv.messages("dashboard.forms.bitTracking.modes.nip_dip")</legend>
            @b3.textarea(bitTrackingForm("nipDip.template"),
                '_label -> "dashboard.forms.bitTracking.nipDip.template.label",
                '_help -> messagesProv.messages("dashboard.forms.bitTracking.variables", bitTrackingUtil.nipDipMode.getFormattingVariablesString),
                'rows -> 5
            )
            @b3.number(bitTrackingForm("nipDip.goalAmount"),
                '_label -> "dashboard.forms.bitTracking.goalAmount.label"
            )
            @b3.number(bitTrackingForm("nipDip.toNextGoal"),
                '_label -> "dashboard.forms.bitTracking.toNextGoal.label"
            )
            @b3.number(bitTrackingForm("nipDip.goalCount"),
                '_label -> "dashboard.forms.bitTracking.goalCount.label"
            )
        </fieldset>
        <fieldset>
            <legend>@messagesProv.messages("dashboard.forms.bitTracking.modes.rbg")</legend>
            @b3.textarea(bitTrackingForm("rbg.template"),
                '_label -> "dashboard.forms.bitTracking.rbg.template.label",
                '_help -> messagesProv.messages("dashboard.forms.bitTracking.variables", bitTrackingUtil.rbgMode.getFormattingVariablesString),
                'rows -> 5
            )
            @renderRBGShotType("green")
            @renderRBGShotType("blue")
            @renderRBGShotType("red")
        </fieldset>
        <fieldset>
            <legend>@messagesProv.messages("dashboard.forms.bitTracking.modes.jackshots")</legend>
            @b3.textarea(bitTrackingForm("jackshots.template"),
                '_label -> "dashboard.forms.bitTracking.jackshots.template.label",
                '_help -> messagesProv.messages("dashboard.forms.bitTracking.variables", bitTrackingUtil.jackshotsMode.getFormattingVariablesString),
                'rows -> 5
            )
            @b3.number(bitTrackingForm("jackshots.goalAmount"),
                '_label -> "dashboard.forms.bitTracking.goalAmount.label"
            )
            @b3.number(bitTrackingForm("jackshots.toNextGoal"),
                '_label -> "dashboard.forms.bitTracking.toNextGoal.label"
            )
            @b3.number(bitTrackingForm("jackshots.goalCount"),
                '_label -> "dashboard.forms.bitTracking.goalCount.label"
            )
        </fieldset>
        <fieldset>
            <legend>@messagesProv.messages("dashboard.forms.bitTracking.modes.push_up")</legend>
            <p>@messagesProv.messages("global.notYetImplemented")</p>
        </fieldset>
        <fieldset>
            <legend>@messagesProv.messages("dashboard.forms.bitTracking.modes.sing_it_or_slam_it")</legend>
            <p>@messagesProv.messages("global.notYetImplemented")</p>
        </fieldset>
        @b3.submit('class -> "btn btn-primary") {@messagesProv.messages("global.forms.save")}
    }
}