@import common.ref.MtrConfigRef
@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot

@this(dashboardPage: views.html.dashboardPage, discordBot: DiscordBot)
@()(implicit messagesProvider: MessagesProvider, messages: Messages, session: Session, requestHeader: RequestHeader, flash: Flash, configRef: MtrConfigRef)

@implicitFieldConstructor = @{
    b4.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

@renderField(fieldLocalization: String)(body: Html) = {
    @if(messages.messages.isDefinedAt(s"dashboard.core.$fieldLocalization.help")) {
        @b4.static(s"dashboard.core.$fieldLocalization.label",
            '_help -> s"dashboard.core.$fieldLocalization.help"
        ){ @body }(implicitFieldConstructor, messagesProvider)
    } else {
        @b4.static(s"dashboard.core.$fieldLocalization.label"
        ){ @body }(implicitFieldConstructor, messagesProvider)
    }
}

@dashboardPage("coreSettings") {
    <script src="@routes.Assets.at("js/dashboardCore.js")"></script>
} {
    @renderField("commandPrefix") {
        @configRef.commandPrefix
    }
    @renderField("helpLink") {
        <a href="@configRef.helpLink">@configRef.helpLink</a>
    }
    <fieldset>
        <legend>@messages("dashboard.core.discord.title")</legend>
        @renderField("discord.username"){
            @configRef.discordUsername
        }
        @renderField("discord.game"){
            @configRef.discordGame
        }
        @renderField("discord.guild"){
            @if(discordBot.guild.isDefined) {
                @discordBot.guild.get.getName (@java.lang.Long.toUnsignedString(discordBot.guild.get.getId.asLong))
            } else {
                @messages("error.unknownGuild")
            }
        }
        @renderField("discord.moderatorRole"){
            @if(discordBot.moderatorRole.isDefined) {
                @discordBot.moderatorRole.get.getName (@java.lang.Long.toUnsignedString(discordBot.moderatorRole.get.getId.asLong))
            } else {
                @messages("error.unknownRole")
            }
        }
        @renderField("discord.regularRole"){
            @if(discordBot.regularRole.isDefined) {
                @discordBot.regularRole.get.getName (@java.lang.Long.toUnsignedString(discordBot.regularRole.get.getId.asLong))
            } else {
                @messages("error.unknownRole")
            }
        }
        @renderField("discord.subscriberRole"){
            @if(discordBot.subscriberRole.isDefined) {
                @discordBot.subscriberRole.get.getName (@java.lang.Long.toUnsignedString(discordBot.subscriberRole.get.getId.asLong))
            } else {
                @messages("error.unknownRole")
            }
        }
        <a class="btn btn-warning mb-3 load-btn" href="@routes.Dashboard.reconnectDiscord()" data-loading-text="@messages("dashboard.core.reconnect.reconnecting")">@messages("dashboard.core.reconnect.discord.label")</a>
    </fieldset>
    <fieldset>
        <legend>@messages("dashboard.core.twitch.title")</legend>
        @renderField("twitch.username"){
            @configRef.twitchUsername
        }
        <fieldset>
            <legend>@messages("dashboard.core.twitch.channels.label")</legend>
            @for(twitchChannel <- configRef.twitchChannels.values) {
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">@twitchChannel.name</h4>
                                <h6 class="card-subtitle mb-2 text-muted">@twitchChannel.ircChannelName</h6>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 col-md-3 pl-0">@messages("dashboard.core.twitch.channels.channel.hasOAuth.label")</div>
                                        <div class="col">@component.yesNo(twitchChannel.oauth.isDefined)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-md-3 pl-0">@messages("dashboard.core.twitch.channels.channel.hasChannelId.label")</div>
                                        <div class="col">@component.yesNo(twitchChannel.channelId.isDefined)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </fieldset>
        <a class="btn btn-warning mb-3 load-btn" href="@routes.Dashboard.reconnectTwitch()" role="button" data-loading-text="@messages("dashboard.core.reconnect.reconnecting")">@messages("dashboard.core.reconnect.twitch.label")</a>
    </fieldset>
}