@import common.api.PermissionLevel
@import common.models.CustomCommand
@import common.ref.MtrConfigRef
@import views.html.component.formErrors
@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot

@this(dashboardPage: views.html.dashboardPage, configRef: MtrConfigRef)
@(newCommandForm: Form[CustomCommand], commandForms: List[Form[CustomCommand]])(implicit messages: Messages, session: Session, requestHeader: RequestHeader, flash: Flash)

@implicitFieldConstructor = @{
    b4.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

@dashboardPage("customCommands"){

} {

    @formErrors(newCommandForm.asInstanceOf[Form[Any]])

    @b4.form(routes.Dashboard.submitNewCommand()) {
        @helper.CSRF.formField
        <fieldset>
            <legend>@messages("dashboard.customCommands.newCommand.title")</legend>
            @b4.inputWrapped("text", newCommandForm("commandName"),
                '_label -> "dashboard.customCommands.newCommand.commandName.label",
                'placeholder -> messages("dashboard.customCommands.newCommand.commandName.placeholder")
            ) { input =>
                <div class="input-group">
                    <span class="input-group-addon">@configRef.commandPrefix</span>
                    @input
                </div>
            }
            @b4.textarea(newCommandForm("commandContent"),
                '_label -> "dashboard.customCommands.newCommand.commandContent.label",
                'placeholder -> messages("dashboard.customCommands.newCommand.commandContent.placeholder")
            )
            @b4.select(newCommandForm("permissionLevel"),
                options = PermissionLevel.map.toSeq,
                '_label -> "dashboard.customCommands.newCommand.permissionLevel.label",
                '_help -> "dashboard.customCommands.newCommand.permissionLevel.help",
                '_custom -> true,
                'class -> "w-100"
            )
            @b4.submit('class -> "btn btn-success") {
                @messages("global.forms.save")
            }
        </fieldset>
    }

    <fieldset>
        <legend>@messages("dashboard.customCommands.editCommand.title")</legend>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="w-10">@messages("dashboard.customCommands.editCommand.commandName.label")</th>
                    <th class="w-60">@messages("dashboard.customCommands.editCommand.commandContent.label")</th>
                    <th class="w-15">@messages("dashboard.customCommands.editCommand.permissionLevel.label")</th>
                    <th class="w-15">@messages("dashboard.customCommands.editCommand.actions.label")</th>
                </tr>
            </thead>
            <tbody>
            @for(commandForm <- commandForms) {
                <tr>
                    @b4.inline.form(routes.Dashboard.submitEditCommand()) { implicit ifc =>
                        @helper.CSRF.formField
                        @b4.hidden(commandForm("commandName").name, commandForm("commandName").value.get)
                        <td>@configRef.commandPrefix@commandForm("commandName").value.get</td>
                        <td>@b4.textarea(commandForm("commandContent"), 'rows -> "4")</td>
                        <td>@b4.select(commandForm("permissionLevel"),
                            options = PermissionLevel.map.toSeq,
                            '_custom -> true,
                            'class -> "w-100"
                        )</td>
                        <td>
                            <button type="submit" class="btn btn-info" >@messages("global.forms.edit")</button>
                            <a href="@routes.Dashboard.submitDeleteCommand(commandForm("commandName").value.get)" class="btn btn-danger">@messages("global.forms.delete")</a>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </fieldset>
}