@import common.models.FilterSettings
@import common.ref.MtrConfigRef
@import common.api.PermissionLevel
@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot
@(filterSettingsForm: Form[FilterSettings])(implicit webJarsUtil: WebJarsUtil, discordBot: DiscordBot, request: MessagesRequest[AnyContent], flash: Flash, mtrConfigRef: MtrConfigRef)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@dashboardPage("filterSettings"){

} {
    @b4.form(routes.Dashboard.submitFilterSettings()) {
        @helper.CSRF.formField
        <fieldset>
            <legend>@request.messages("dashboard.filters.capsFilter.title")</legend>
            @b4.checkbox(filterSettingsForm("capsFilterEnabled"),
                '_label -> "dashboard.filters.capsFilter.enabled.label",
                '_text -> "dashboard.filters.capsFilter.enabled.text",
                '_custom -> true
            )
            @b4.select(filterSettingsForm("capsFilterExemptionLevel"),
                options = PermissionLevel.map.toSeq,
                '_label -> "dashboard.filters.capsFilter.exemptionLevel.label",
                '_help -> "dashboard.filters.capsFilter.exemptionLevel.help",
                '_custom -> true,
                'class -> "w-100"
            )
            @b4.number(filterSettingsForm("capsFilterThreshold"),
                '_label -> "dashboard.filters.capsFilter.threshold.label",
                '_help -> "dashboard.filters.capsFilter.threshold.help"
            )
        </fieldset>
        <fieldset>
            <legend>@request.messages("dashboard.filters.linksFilter.title")</legend>
            @b4.checkbox(filterSettingsForm("linksFilterEnabled"),
                '_label -> "dashboard.filters.linksFilter.enabled.label",
                '_text -> "dashboard.filters.linksFilter.enabled.text",
                '_custom -> true
            )
            @b4.select(filterSettingsForm("linksFilterExemptionLevel"),
                options = PermissionLevel.map.toSeq,
                '_label -> "dashboard.filters.linksFilter.exemptionLevel.label",
                '_help -> "dashboard.filters.linksFilter.exemptionLevel.help",
                '_custom -> true,
                'class -> "w-100"
            )
        </fieldset>
        <fieldset>
            <legend>@request.messages("dashboard.filters.blacklistFilter.title")</legend>
            @b4.checkbox(filterSettingsForm("blacklistFilterEnabled"),
                '_label -> "dashboard.filters.blacklistFilter.enabled.label",
                '_text -> "dashboard.filters.blacklistFilter.enabled.text",
                '_custom -> true
            )
            @b4.select(filterSettingsForm("blacklistFilterExemptionLevel"),
                options = PermissionLevel.map.toSeq,
                '_label -> "dashboard.filters.blacklistFilter.exemptionLevel.label",
                '_help -> "dashboard.filters.blacklistFilter.exemptionLevel.help",
                '_custom -> true,
                'class -> "w-100"
            )
            @b4.textarea(filterSettingsForm("blacklistFilterWords"),
                '_label -> "dashboard.filters.blacklistFilter.words.label",
                '_help -> "dashboard.filters.blacklistFilter.words.help",
                'rows -> 4
            )
        </fieldset>
        @b4.submit('class -> "btn btn-success") {@request.messages("global.forms.save")}
    }
}