@import common.ref.MtrConfigRef
@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot

@this(dashboardPage: views.html.dashboardPage, discordBot: DiscordBot)
@(missingSetting: String)(implicit messages: Messages, session: Session, requestHeader: RequestHeader, flash: Flash)

@dashboardPage(missingSetting) {

} {
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">@messages("error.settingsMissing.title")</h3>
        </div>
        <div class="panel-body">
            <strong>@messages("error.ohSnap")</strong> @messages("error.settingsMissing.message", messages(s"error.settingsMissing.settingsTypes.$missingSetting"), if(discordBot.guild.isDefined) discordBot.guild.get.getId.asLong else messages("error.unknownGuild"))
        </div>
    </div>
}