@import com.cobble.bot.common.ref.MtrConfigRef
@import org.webjars.play.WebJarsUtil
@import sx.blah.discord.handle.obj.IGuild
@import discord.DiscordBot
@(guild: IGuild, missingSetting: String)(implicit webJarsUtil: WebJarsUtil, discordBot: DiscordBot, request: MessagesRequest[AnyContent], flash: Flash, mtrConfigRef: MtrConfigRef)

@dashboardPage(guild, missingSetting) {

} {
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">@request.messages("error.settingsMissing.title")</h3>
        </div>
        <div class="panel-body">
            <strong>@request.messages("error.ohSnap")</strong> @request.messages("error.settingsMissing.message", request.messages(s"error.settingsMissing.settingsTypes.$missingSetting"), if(guild != null) guild.getStringID else request.messages("error.unknownGuild"))
        </div>
    </div>
}