@import com.cobble.bot.common.ref.MtrConfigRef
@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot
@import views.html.component.formErrors
@import com.cobble.bot.common.models.TwitchRegular
@(twitchRegularForm: Form[TwitchRegular], twitchRegulars: List[TwitchRegular])(implicit webJarsUtil: WebJarsUtil, messagesProv: MessagesProvider, discordBot: DiscordBot, request: MessagesRequest[AnyContent], flash: Flash, mtrConfigRef: MtrConfigRef)

@implicitFieldConstructor = @{
    b4.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

@dashboardPage("twitchRegulars") {

} {
    @formErrors(twitchRegularForm.asInstanceOf[Form[Any]])

    @b4.form(routes.Dashboard.submitNewTwitchRegular()) {
        @helper.CSRF.formField
        <fieldset>
            <legend>@request.messages("dashboard.forms.twitchRegulars.newTwitchRegular.title")</legend>
            @b4.inputWrapped("text", twitchRegularForm("twitchUsername"),
                '_label -> "dashboard.forms.twitchRegulars.newTwitchRegular.twitchUsername.label",
                'placeholder -> request.messages("dashboard.forms.twitchRegulars.newTwitchRegular.twitchUsername.placeholder"),
                '_help -> request.messages("dashboard.forms.twitchRegulars.newTwitchRegular.twitchUsername.help")
            ) { input =>
                <div class="input-group">
                    <span class="input-group-addon">@@</span>
                    @input
                </div>
            }
            @b4.submit('class -> "btn btn-success") {
                @request.messages("global.forms.save")
            }
        </fieldset>
    }
    <fieldset>
        <legend>@request.messages("dashboard.forms.twitchRegulars.twitchRegularsList.title")</legend>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@request.messages("dashboard.forms.twitchRegulars.twitchRegularsList.twitchUsername.label")</th>
                    <th>@request.messages("dashboard.forms.twitchRegulars.twitchRegularsList.actions.label")</th>
                </tr>
            </thead>
            <tbody>
                @for(twitchRegular <- twitchRegulars) {
                    <tr>
                        <td>@twitchRegular.twitchUsername</td>
                        <td><a class="btn btn-danger" href="@routes.Dashboard.submitDeleteTwitchRegular(twitchRegular.twitchUsername)" role="button">@request.messages("global.forms.delete")</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
}