@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot

@this(main: views.html.main, discordBot: DiscordBot)
@(requestPath: String)(implicit messages: Messages, session: Session, requestHeader: RequestHeader)

@main(messages("error.auth.forbidden.page")){

} {
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <div class="card border-danger mb-3">
                    <div class="card-header text-white bg-danger">@messages("error.auth.forbidden.page")</div>
                    <div class="card-body text-danger">
                        <p class="card-text">@messages("error.auth.forbidden.message", requestPath)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}