@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot
@()(implicit webJarsUtil: WebJarsUtil, discordBot: DiscordBot, request: MessagesRequest[AnyContent])

@main(request.messages("error.auth.notAuthorized.page")){

} {
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">@request.messages("error.auth.notAuthorized.page")</h3>
            </div>
            <div class="panel-body">
            @request.messages("error.auth.notAuthorized.message")
            </div>
        </div>
    </div>
}