@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot

@this(main: views.html.main)
@(twitchOAuthRedirectUrl: String, errorType: Option[String], errorDescription: Option[String])(implicit messages: Messages, session: Session, requestHeader: RequestHeader)

@main("twitchAuthentication") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/twitchToken.css")">
    <script src="@routes.Assets.at("js/twitchToken.js")"></script>
} {
    <div class="container">
        <h2>@messages("global.pageNames.twitchAuthentication")</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                @if(errorType.isDefined) {
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>@messages("error.ohSnap")</strong> @messages("error.auth.twitch.unableToGetOAuth") <br/>
                        @messages("error.type"): @errorType.getOrElse(messages("global.notAvailable")) <br/>
                        @messages("error.description"): @errorDescription.getOrElse(messages("global.notAvailable"))
                    </div>
                }
                <div id="tokenDisplayContainer">
                    <h4>@messages("auth.twitch.oAuthToken.header")</h4>
                    <code id="tokenDisplay">@messages("global.notAvailable")</code>
                    <p class="help-block">@messages("auth.twitch.oAuthToken.instructions")</p>
                </div>
                <a id="twitchLink" href="@twitchOAuthRedirectUrl"></a>
            </div>
        </div>
    </div>

}