@(form: Form[Any])(implicit request: MessagesRequest[AnyContent])

@if(form.hasGlobalErrors) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@request.messages("error.ohSnap")</strong>
        <ul>
        @for(error <- form.globalErrors) {
            <li>@request.messages(error.messages, error.args)</li>
        }
        </ul>
    </div>
}

@if(form.hasErrors) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@request.messages("error.ohSnap")</strong> @request.messages("error.formSubmission")
    </div>
}