@import "variables"
@import "lib/bootstrap/scss/bootstrap"

@import "lib/font-awesome-sass/assets/stylesheets/font-awesome"

#page-container
    margin-top: $navbar-height

.custom-select
    -webkit-appearance: none

.profile-image
    height: 2em
    width: 2em
    line-height: 1em

#versionNumber
    font-size: 75%