@import "variables"
@import "lib/bootstrap-sass/assets/stylesheets/bootstrap"
@import "lib/font-awesome-sass/assets/stylesheets/font-awesome"

body
    margin-top: $navbar-height

.profile-image
    height: 2em
    width: 2em
    line-height: 1em