@import scala.collection.SortedMap
@import common.models.CustomCommand
@import org.webjars.play.WebJarsUtil
@import common.ref.MtrConfigRef
@import common.api.PermissionLevel
@import discord.DiscordCommandRegistry
@import twitch.TwitchCommandRegistry

@this(main: views.html.main, discordCommandRegistry: DiscordCommandRegistry, twitchCommandRegistry: TwitchCommandRegistry, configRef: MtrConfigRef)
@(builtInCommands: SortedMap[String, (String, String)], customCommands: List[CustomCommand])(implicit messages: Messages, session: Session, requestHeader: RequestHeader)

@main("botCommands") {

} {
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h2>@messages("botCommands.builtInCommands.title")</h2>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="w-15">@messages("botCommands.builtInCommands.commandName")</th>
                            <th class="w-45">@messages("botCommands.builtInCommands.commandContent")</th>
                            <th class="w-15">@messages("botCommands.builtInCommands.permissionLevel")</th>
                            <th class="w-10">@messages("botCommands.builtInCommands.discordAvailable")</th>
                            <th class="w-10">@messages("botCommands.builtInCommands.twitchAvailable")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(command <- builtInCommands) {
                        <tr>
                            <th scope="row">@{configRef.commandPrefix + command._1}</th>
                            <td>
                                @if(messages.messages.isDefinedAt(command._2._1)) {
                                    @messages(command._2._1)
                                } else {
                                    @messages("global.notAvailable")
                                }
                            </td>
                            <td>@messages(command._2._2)</td>
                            <td class="text-center">
                                @if(discordCommandRegistry.commands.contains(command._1)) {
                                    <i class="fa fa-check text-success"></i>
                                } else {
                                    <i class="fa fa-times text-danger"></i>
                                }
                            </td>
                            <td class="text-center">
                                @if(twitchCommandRegistry.commands.contains(command._1)) {
                                    <i class="fa fa-check text-success"></i>
                                } else {
                                    <i class="fa fa-times text-danger"></i>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>@messages("botCommands.customCommands.title")</h2>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="w-15">@messages("botCommands.customCommands.commandName")</th>
                            <th class="w-70">@messages("botCommands.customCommands.commandContent")</th>
                            <th class="w-15">@messages("botCommands.customCommands.permissionLevel")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(customCommand <- customCommands) {
                        <tr>
                            <th scope="row">@{configRef.commandPrefix + customCommand.commandName}</th>
                            <td>@customCommand.commandContent.replaceAll("\\R+", " | ")</td>
                            <td>@messages(PermissionLevel.map.getOrElse(customCommand.permissionLevel.toString, "global.notAvailable"))</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}