@import com.cobble.bot.common.ref.MtrConfigRef
@import sx.blah.discord.handle.obj.IGuild
@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot
@(guild: IGuild, currentPage: String)(head: Html)(content: Html)(implicit webJarsUtil: WebJarsUtil, discordBot: DiscordBot, request: MessagesRequest[AnyContent], flash: Flash, mtrConfigRef: MtrConfigRef)

@main("dashboard"){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dashboard.css")">
    @head
} {
    <div class="row no-gutters">
        <div class="col-md-2" id="sidebar">
            <ul class="sidebar-items">
                <li class="sidebar-brand">
                @if(guild != null) {
                    <span>@guild.getName</span>
                } else {
                    <span>@request.messages("error.unknownGuild")</span>
                }
                </li>
                <li role="presentation" @if(currentPage == "coreSettings") {class="active"}><a href="/dashboard">@request.messages("dashboard.pageNames.coreSettings")</a></li>
                @for(page <- Dashboard.dashboardPages) {
                    <li role="presentation" @if(currentPage == page._1) {class="active"}><a href="/dashboard/@page._1">@request.messages(page._2)</a></li>
                }
            </ul>
        </div>
        <main class="col-md-10 col-md-offset-2">
            <div class="container-fluid">
                <h2>
                @if(currentPage == "coreSettings") {
                    @request.messages("dashboard.pageNames.coreSettings")
                } else {
                    @request.messages(Dashboard.dashboardPages.getOrElse(currentPage, "dashboard.pageNames.unknown"))
                }
                </h2>
                @for(flashType <- flash.data) {
                    <div class="alert alert-dismissible alert-@flashType._1">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @flash.get(flashType._1)
                    </div>
                }
                <br>
                @content
            </div>
        </main>
    </div>

}