@import sx.blah.discord.handle.obj.IGuild
@import com.cobble.bot.common.models.FilterSettings
@import com.cobble.bot.common.models.CoreSettings
@import securesocial.core.BasicProfile
@(guild: IGuild, coreSettingsForm: Form[CoreSettings], filterSettingsForm: Form[FilterSettings])(implicit webJarAssets: WebJarAssets, userOpt: Option[BasicProfile], messages: Messages, flash: Flash)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formBlock(formTitle: String, formHasGlobalErrors: Boolean, formGlobalErrors: Seq[FormError])(formContent: Html) = {
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@messages(formTitle)</h3>
        </div>
        <div class="panel-body">

            @if(formHasGlobalErrors) {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh snap!</strong>
                    <ul>
                    @for(error <- formGlobalErrors) {
                        <li>@messages(error.messages, error.args)</li>
                    }
                    </ul>
                </div>
            }

            @formContent
        </div>
    </div>
}

@main("Dashboard") {
    <h2>@{guild.getName}</h2>

    @if(!flash.isEmpty) {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @flash.get("success")
        </div>
    }

    <p>@flash.get("error")</p>

    @formBlock("dashboard.forms.core.title", coreSettingsForm.hasGlobalErrors, coreSettingsForm.globalErrors){
        @b3.form(routes.Dashboard.submitCoreSettings()) {
            @b3.text(coreSettingsForm("twitchAccount"),
                '_label -> "dashboard.forms.core.twitchAccount.label",
                'placeholder -> "dashboard.forms.core.twitchAccount.placeholder",
                '_help -> "dashboard.forms.core.twitchAccount.help"
            )
            @b3.select(coreSettingsForm("moderatorRole"),
                guild.getRoles.map(role => (role.getStringID, role.getName)).toSeq,
                '_label -> "dashboard.forms.core.moderatorRole.label",
                '_help -> "dashboard.forms.core.moderatorRole.help"
            )
            @b3.submit('class -> "btn btn-primary") {@messages("global.forms.save")}
        }
    }

    @formBlock("dashboard.forms.filters.title", coreSettingsForm.hasGlobalErrors, coreSettingsForm.globalErrors){
        @b3.form(routes.Dashboard.submitFilterSettings()) {
            <fieldset>
                <legend>@messages("dashboard.forms.filters.capsFilter.title")</legend>
                @b3.hidden("guildId", filterSettingsForm("guildId").value.get)
                @b3.checkbox(filterSettingsForm("capsFilterEnabled"),
                    '_label -> "dashboard.forms.filters.capsFilter.enabled.label"
                )
                @b3.number(filterSettingsForm("capsFilterThreshold"),
                    '_label -> "dashboard.forms.filters.capsFilter.threshold.label",
                    '_help -> "dashboard.forms.filters.capsFilter.threshold.help"
                )
            </fieldset>
            @b3.submit('class -> "btn btn-primary") {@messages("global.forms.save")}
        }
    }
}