@import sx.blah.discord.handle.obj.IGuild
@import com.cobble.bot.common.models.{CustomCommand, FilterSettings}
@import com.cobble.bot.common.api.PermissionLevel
@import securesocial.core.BasicProfile
@import com.cobble.bot.common.ref.MtrConfigRef
@(guild: IGuild, filterSettingsForm: Form[FilterSettings], newCommandForm: Form[CustomCommand])(implicit webJarAssets: WebJarAssets, userOpt: Option[BasicProfile], messages: Messages, flash: Flash, mtrConfigRef: MtrConfigRef)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formBlock(formTitle: String, formHasGlobalErrors: Boolean, formGlobalErrors: Seq[FormError])(formContent: Html) = {
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@messages(formTitle)</h3>
        </div>
        <div class="panel-body">

            @if(formHasGlobalErrors) {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh snap!</strong>
                    <ul>
                    @for(error <- formGlobalErrors) {
                        <li>@messages(error.messages, error.args)</li>
                    }
                    </ul>
                </div>
            }

            @formContent
        </div>
    </div>
}

@permissionLevels = @{ PermissionLevel.values.map(p => p.id.toString -> s"global.permissionLevels.${p.toString.toLowerCase}").toSeq}

@main("Dashboard") {
    <h2>@{guild.getName}</h2>

    @for(flashType <- flash.data) {
        <div class="alert alert-dismissible alert-@flashType._1">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @flash.get(flashType._1)
        </div>
    }

    <p>@flash.get("error")</p>

    @formBlock("dashboard.forms.filters.title", filterSettingsForm.hasGlobalErrors, filterSettingsForm.globalErrors){
        @b3.form(routes.Dashboard.submitFilterSettings()) {
            <fieldset>
                <legend>@messages("dashboard.forms.filters.capsFilter.title")</legend>
                @b3.checkbox(filterSettingsForm("capsFilterEnabled"),
                    '_label -> "dashboard.forms.filters.capsFilter.enabled.label"
                )
                @b3.select(filterSettingsForm("capsFilterExemptionLevel"),
                    options = permissionLevels,
                    '_label -> "dashboard.forms.filters.capsFilter.exemptionLevel.label",
                    '_help -> "dashboard.forms.filters.capsFilter.exemptionLevel.help"
                )
                @b3.number(filterSettingsForm("capsFilterThreshold"),
                    '_label -> "dashboard.forms.filters.capsFilter.threshold.label",
                    '_help -> "dashboard.forms.filters.capsFilter.threshold.help"
                )
            </fieldset>
            <fieldset>
                <legend>@messages("dashboard.forms.filters.linksFilter.title")</legend>
                @b3.checkbox(filterSettingsForm("linksFilterEnabled"),
                    '_label -> "dashboard.forms.filters.linksFilter.enabled.label"
                )
                @b3.select(filterSettingsForm("linksFilterExemptionLevel"),
                    options = permissionLevels,
                    '_label -> "dashboard.forms.filters.linksFilter.exemptionLevel.label",
                    '_help -> "dashboard.forms.filters.linksFilter.exemptionLevel.help"
                )
            </fieldset>
            <fieldset>
                <legend>@messages("dashboard.forms.filters.blacklistFilter.title")</legend>
                @b3.checkbox(filterSettingsForm("blacklistFilterEnabled"),
                    '_label -> "dashboard.forms.filters.blacklistFilter.enabled.label"
                )
                @b3.select(filterSettingsForm("blacklistFilterExemptionLevel"),
                    options = permissionLevels,
                    '_label -> "dashboard.forms.filters.blacklistFilter.exemptionLevel.label",
                    '_help -> "dashboard.forms.filters.blacklistFilter.exemptionLevel.help"
                )
                @b3.textarea(filterSettingsForm("blacklistFilterWords"),
                    '_label -> "dashboard.forms.filters.blacklistFilter.words.label",
                    '_help -> "dashboard.forms.filters.blacklistFilter.words.help",
                    'rows -> 4
                )
            </fieldset>
            @b3.submit('class -> "btn btn-primary") {@messages("global.forms.save")}
        }
    }

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@messages("dashboard.forms.customCommands.title")</h3>
        </div>
        <div class="panel-body">

            @if(newCommandForm.hasGlobalErrors) {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh snap!</strong>
                    <ul>
                     @for(error <- newCommandForm.globalErrors) {
                        <li>@messages(error.messages, error.args)</li>
                    }
                    </ul>
                </div>
            }

            @b3.form(routes.Dashboard.submitNewCommand()) {
                <fieldset>
                    <legend>@messages("dashboard.forms.customCommands.newCommand.title")</legend>
                    @b3.inputWrapped( "text", newCommandForm("commandName"),
                        '_label -> "dashboard.forms.customCommands.newCommand.commandName.label",
                        'placeholder -> "dashboard.forms.customCommands.newCommand.commandName.placeholder"
                    ) { input =>
                        <div class="input-group">
                            <span class="input-group-addon">@mtrConfigRef.commandPrefix</span>
                            @input
                        </div>
                    }
                    @b3.textarea(newCommandForm("commandContent"),
                        '_label -> "dashboard.forms.customCommands.newCommand.commandContent.label",
                        'placeholder -> "dashboard.forms.customCommands.newCommand.commandContent.placeholder"
                    )
                    @b3.select(newCommandForm("permissionLevel"),
                        options = permissionLevels,
                        '_label -> "dashboard.forms.customCommands.newCommand.permissionLevel.label",
                        '_help -> "dashboard.forms.customCommands.newCommand.permissionLevel.help"
                    )
                    @b3.submit('class -> "btn btn-success") {@messages("global.forms.save")}
                </fieldset>
            }
        </div>
    </div>
}