@import common.ref.MtrConfigRef
@import sx.blah.discord.handle.obj.IGuild
@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot
@(currentPage: String)(head: Html)(content: Html)(implicit webJarsUtil: WebJarsUtil, discordBot: DiscordBot, request: MessagesRequest[AnyContent], flash: Flash, mtrConfigRef: MtrConfigRef)

@main("dashboard"){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dashboard.css")">
    @head
} {
    <div class="container-fluid p-0 px-md-3">
        <div class="row no-gutters">
            <nav class="navbar col-lg-2 col-md-3 bg-light navbar-light flex-column py-0" id="sidebar">
                <ul class="nav nav-pills flex-column w-100">
                    <li class="nav-item">
                        <span class="nav-link navbar-brand px-3 mr-0 w-100">
                        @if(discordBot.guild.isDefined) {
                            @discordBot.guild.get.getName
                        } else {
                            @request.messages("error.unknownGuild")
                        }
                        </span>
                    </li>
                    <li role="presentation" class="nav-item"><a href="/dashboard" @if(currentPage == "coreSettings") {class="active nav-link px-3"} else {class="nav-link px-3"}>@request.messages("dashboard.pageNames.coreSettings")</a></li>
                    @for(page <- Dashboard.dashboardPages) {
                        <li role="presentation" class="nav-item"><a href="/dashboard/@page._1" @if(currentPage == page._1) {class="active nav-link px-3"} else {class="nav-link px-3"}>@request.messages(page._2)</a></li>
                    }
                </ul>
            </nav>
            <main class="col-lg-10 col-md-9 ml-md-auto mt-2">
                <div class="container-fluid">
                    <h2>
                    @if(currentPage == "coreSettings") {
                        @request.messages("dashboard.pageNames.coreSettings")
                    } else {
                        @request.messages(Dashboard.dashboardPages.getOrElse(currentPage, "dashboard.pageNames.unknown"))
                    }
                    </h2>
                    @for(flashType <- flash.data) {
                        <div class="alert alert-dismissible alert-@flashType._1">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @flash.get(flashType._1)
                        </div>
                    }
                    <br>
                    @content
                </div>
            </main>
        </div>
    </div>

}