@(title: String)(content: Html)(implicit webJarAssets: WebJarAssets, userOpt: Option[service.DemoUser])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/monster-truck-bot.png")">
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("javascripts/bootstrap.js"))" type="text/javascript"></script>
    </head>
    <body>
        @component.header()
        @content
    </body>
</html>
