@import component.header
@import org.webjars.play.WebJarsUtil
@import discord.DiscordBot
@(pageName: String)(head: Html)(content: Html)(implicit webJarsUtil: WebJarsUtil, messagesProv: MessagesProvider, discordBot: DiscordBot, request: MessagesRequest[AnyContent])

<!DOCTYPE html>

<html>
    <head>
        @if(messagesProv.messages.isDefinedAt(s"global.pageNames.$pageName")) {
            <title>@messagesProv.messages(s"global.pageNames.$pageName")</title>
        } else {
            <title>@pageName</title>
        }
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/monster-truck-bot.png")">
        <script src="@webJarsUtil.url("jquery.min.js").get" type="text/javascript"></script>
        <script src="@webJarsUtil.url("bootstrap-sass", "bootstrap.js").get" type="text/javascript"></script>
        @head
    </head>
    <body>
        @header()
        <div class="container">
            @content
        </div>
    </body>
</html>
