@import component.header
@import discord.DiscordBot
@import org.webjars.play.WebJarsUtil

@this(webJarsUtil: WebJarsUtil, header: views.html.component.header)
@(pageName: String)(head: Html)(content: Html)(implicit messages: Messages, session: Session, requestHeader: RequestHeader)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        @if(messages.isDefinedAt(s"global.pageNames.$pageName")) {
            <title>@messages(s"global.pageNames.$pageName")</title>
        } else {
            <title>@pageName</title>
        }
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/monster-truck-bot.png")">
        <script src="@webJarsUtil.url("jquery.min.js").get" type="text/javascript"></script>
        <script src="@webJarsUtil.url("/dist/umd/popper.js").get" type="text/javascript"></script>
        <script src="@webJarsUtil.url("bootstrap", "bootstrap.js").get" type="text/javascript"></script>
        @head
        </head>
    <body>
        @header()
        <div id="page-container">
        @content
        </div>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/monster-truck-bot.png")">
    </body>
</html>
