@import securesocial.core.BasicProfile
@(servers: Seq[models.UserServersResponse])(implicit webJarAssets: WebJarAssets, userOpt: Option[BasicProfile], messages: Messages)

@main("Servers") {
    <div class="container">
        @for(server <- servers) {
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>@{server.name}</h4>
                    <a href="@routes.Dashboard.dashboard()" class="btn btn-primary" role="button">@messages("global.pageNames.dashboard")</a>
                </div>
            </div>
        }
    </div>
}